<h4> Post List </h4>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let post of postList'>
                <td>{{post.id}}</td>
                <td>{{post.userId}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                <td><button [routerLink]="['view', post.id]">Detail</button></td>
            </tr>
        </tbody>
    </table>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>