<br>
<header>
	<div>
    <a class="btn btn-primary" [routerLink]="['list']" [routerLinkActive]="['active']">Post List</a>
    <a class="btn btn-primary" [routerLink]="['list-pagination']" [routerLinkActive]="['active']">Post List Pagination</a>
    <a class="btn btn-primary">Create Post</a>
    <a class="btn btn-primary">Update Post</a>
    <a class="btn btn-primary">Delete Post</a>
    <a class="btn btn-primary">CRUD Post</a>
	</div>
</header>
<body>
	<div>
        <router-outlet></router-outlet>
	</div>
</body>